<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <title>Text Analyzer</title>
</head>
<body>
    <div id="app" v-cloak>
        <textarea v-on:input="update" placeholder="Enter text here" autofocus></textarea>

        <div id="output">
            <h1>Text Statistics</h1>
            <div class="wrapper">
                <table id="statistics">
                    <tbody>
                        <tr>
                            <th>Paragraphs</th>
                            <td><animated-integer v-bind:value="paragraphNum"></animated-integer></td>
                        </tr>
                        <tr>
                            <th>Sentences</th>
                            <td><animated-integer v-bind:value="sentenceNum"></animated-integer></td>
                        </tr>
                        <tr>
                            <th>Words</th>
                            <td><animated-integer v-bind:value="wordNum"></animated-integer></td>
                        </tr>
                        <tr>
                            <th>Characters (with spaces)</th>
                            <td><animated-integer v-bind:value="charNum"></animated-integer></td>
                        </tr>
                        <tr>
                            <th>Letters</th>
                            <td><animated-integer v-bind:value="letterNum"></animated-integer></td>
                        </tr>
                        <tr>
                            <th>Longest Word</th>
                            <td>{{ longestWord }}</td>
                        </tr>
                        <tr>
                            <th>Most Common Letter</th>
                            <td>{{ commonChar.char.toUpperCase() }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table id="char-graph">
                <tr>
                    <td v-for="letter in alphabet">
                        <span class="bar" v-bind:style="{ height: letterRatio(letter) + '%' }">&nbsp;</span>
                    </td>
                </tr>
                <tr>
                    <th v-for="letter in alphabet">{{ letter.toUpperCase() }} </th>
                </tr>
            </table>

        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenLite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
